body {
  /* background-image: url("https://ak8.picdn.net/shutterstock/videos/2401118/thumb/1.jpg"); */
  /* no-repeat center center fixed; */
  background-size: cover;
  background-repeat: no-repeat;

}

.table-wrapper-scroll-y {
  display: block;
  max-height: 450px;
  max-width: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.roundNumberInfo {
  display:block;
  max-height: 100px;
  max-width: 100px;
}
